body{
  margin:0;
  /*bring items to the center horizontally*/
  display: flex;
  justify-content: center;

  /*bring items to the center vertically*/
  height: 100vh;
  align-items: center;

  text-align: center;

  background-color: pink;
  font-family: cursive;
}

.form {
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,.3); /*horizontal, vertical, blur radius, transparency*/
  border-radius: 10px;
  margin: 10px;
}

.input{
  display: block; /*to have input in the all line, submit goes to the bottom*/
  width: 100%; /*input window all across*/
  box-sizing: border-box;/*fix the space on the left or right*/
  font-size: 30px;
  text-align: center;
  padding: 10px;
  border: solid 4px palevioletred;
  color: palevioletred; /*font color*/
}

.input::placeholder {
  color:lightgrey;
  font-family: cursive;
}

.btn {
  background-color: purple;
  color:white;
  border:none;
  display: block;
  width: 100%;
  padding:10px;
  font-size: 20px;
  font-family: cursive;
  margin:20px 0;
  border-radius: 5px;
  box-shadow: 0,2px, 4px, rgba(0,0,0,.3);
  cursor:pointer;
}

.btn:hover{
  filter: brightness(0.9); /*changing brightness to 90%, after hover will be different*/
}

.score {
  color:blueviolet;
  text-align: right;
}